# Virtual Environments
**/.venv/
.venv/
venv/
ENV/
env/

# Python distribution / build archives
dist/
build/
*.egg-info/

# Pycache
__pycache__/
**.pytest_cache
*.py[cod]

**.mp4
**.wav
**.h264

#Model weights
services/asr/adapter

**.jpeg
**.jpg
**.png
**.pdf
**.onnx
services/face_detection/data
services/face_detection/models